<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Bots</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<header>

</header>
<body>
    {% for bot in bots %}
        <div class="box">
            <div class="imgBx">
                <h2> {{bot['name']}} </h2>
            </div>
            <div class="content">
                <h2> {{bot['exchange_pair']}} <br><span> {{bot['hold']}}% and {{bot['value']}} </span></h2>
            </div>
        </div>
    {% endfor %}
</body>
</html>